<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031636163990-fc55cunrdnemiisgfo7e9apnqja69ua0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031636163990-fc55cunrdnemiisgfo7e9apnqja69ua0</string>
	<key>API_KEY</key>
	<string>AIzaSyBCoANqtTCLAMGJJuFHUHcRVgoNmq3gyKA</string>
	<key>GCM_SENDER_ID</key>
	<string>1031636163990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anas.alex.novikova</string>
	<key>PROJECT_ID</key>
	<string>courseapp-dacda</string>
	<key>STORAGE_BUCKET</key>
	<string>courseapp-dacda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031636163990:ios:013180298bd75e40a2d1b7</string>
	<key>DATABASE_URL</key>
	<string>https://courseapp-dacda.firebaseio.com</string>
</dict>
</plist>